# Ignore everything in output by default
output/*
!output/allptl.csv
!output/allptl.xlsx

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.env

# Project specific
images/
ocr/
sanitize.py

# Logs
*.log